
body{
    font: 20px; Arial, sans-serif;
}
.navbar {
    background-color: #F0F427;
}

.quem-somos{
    background-color: #DFE159;
    color: white;
}

.margin{
     padding-bottom: 50px;
     padding-top: 10px;
}

.parceiros{
    background-color: #F7FE2E;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}


